/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* contact */
/* @font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif, sans-serif;
}

:root {
    --main-color: #008148;
    --second-color: #1e3932;
    --third-color: #ebdbc8;
}

section {
    padding: 50px 10%;
}
*::selection {
    color: #fff;
    background: var(--main-color);
}

img {
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
/* Navbar CSS Style */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 111px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
    border-radius: 30px;
    transition: 0.5s all linear;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
/* End of Navbar CSS Style */

/* Carousel */
.image-carousel {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
/* End Carousel */

/* Shop CSS Style */
.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-img img {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11, 0);
    }
}

.home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1 {
    font-size: 4.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background: var(--second-color);
}
/* End of Shop CSS Style */

/* Menu CSS Style */
.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 2rem;
    color: var(--main-color);
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box {
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.shop-container .box .box-img {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.stars {
    margin: 1rem 0 0.1rem;
}

.shop-container .box .stars svg {
    color: #ebdbc8;
}

.shop-container .box h2 {
    color: #ebdbc8;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.shop-container .box span {
    color: #ebdbc8;
}

.box .btn {
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}

.box .btn:hover {
    background: #ebdbc8;
    color: var(--second-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-img img {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11, 0);
    }
}

.home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1 {
    font-size: 4.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background: var(--second-color);
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 2rem;
    color: var(--main-color);
}
/* End of Menu CSS Style */

/* About CSS Style*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.about-img {
    flex: 1 1 21rem;
}

.about-text {
    flex: 1 1 21rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
/* End of About CSS Style */

/* Contact CSS Style */
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Poppins-Regular, sans-serif;
} */

.contact-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    color: #fff;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 10px;
}

.form-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-button {
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover {
    background: hsl(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;
}

.map iframe {
    width: 100%;
    height: 100%;
}
/* End of Contact CSS Style */

/* Footer CSS Style */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.footer-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 0.938;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social svg {
    font-size: 24px;
    fill: #fff;
    padding: 10px;
    background: var(--main-color);
    border-radius: 0.3rem;
}

.social svg:hover {
    background: var(--main-color);
    color: var(--second-color);
}

.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: #1b1b1b;
    text-decoration: none;
    font-size: large;
}

.footer-box li a:hover {
    color: var(--main-color);
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span {
    display: flex;
    align-items: center;
}

.contact svg {
    font-size: 15px;
    margin-right: 1rem;
    fill: var(--main-color);
}

.copyright {
    padding: 20px;
    text-align: center;
    background: #edeae3;
}
/* End of Footer CSS Style */
